:root {
    --font-color: rgb(0, 94, 184);
}

* {
    margin:0;
    padding:0;
}

.container {
    width: 990px;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;

    background-color: #909;
    height: 120px;
}

.logo {
    display: flex;
    float: left;
}

.menu {
    display: flex;
    float: right;
}

.menu .dropbtn {
    background-color: #fff;
    color: var(--font-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu .dropdown-content a:hover {background-color: #f1f1f1}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu .dropdown:hover .dropbtn {
  background-color: var(--font-color);
  color: #fff;
  transition: 500ms;
}
/* #endregion */