:root {
    --font-color: rgb(0, 94, 184);
}

* {
    margin:0;
    padding:0;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.column {
    display: block;
}

.flexColumn {
    flex-direction: column;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 300px;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .dropbtn {
    background-color: #fff;
    color: var(--font-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu .dropdown-content a:hover {
    background-color: var(--font-color);
    color: #fafafa;
    transition: 500ms;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu .dropdown:hover .dropbtn {
  background-color: var(--font-color);
  color: #fff;
  transition: 500ms;
}

.search {
    margin-left: 5px;
}

.search input {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 2px;
    width: 200px;
}

.search button {
    border: none;
    background-color: #d7d7d7;
    width: 50px;
    border-radius: 5px;
    padding: 4px;
}

.search button:hover {
    background-color: #e7e7e7;
    transition: 500ms;
}

/* #endregion */

/* #region SECTION */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('/media/images/bg.png');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 80px);
}

.headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: #fff;
}

.headline h1,
.headline h2 {
    font-weight: 200;
    text-shadow: 3px 3px 2px #000;
}

.headline h1 {
    font-size: 120px;
    margin:0;
    padding:0;
}

.headline h2 {
    font-size: 50px;
    margin:0;
    padding:0;
    margin-top: 30px;
}

#about {
    display: flex;
    justify-content: center;
}

#about section {
    flex: 2;
}

#about aside {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text{
    color: #191919;
    font-size: 30px;
    font-weight: normal;
}

.widget-title-line {
    background-color: rgb(0, 94, 184);
    height: 2px;
    width: 100px;
    margin-top: 10px;
}

.widget-thumb {
    margin-top: 70px;
}

.widget-thumb img {
    width: 500px;
}

.widget-text {
    margin-top: 70px;
    text-align: justify;
    width: 500px;
}
/* #endregion */

/* #region FOOTER */
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

/* #footer menu 1 */
.fm_1 {
    background-color: #39aae1;
}

.fm_1 h1 {
    font-weight: 100;
}

.fm_1 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

/* #footer menu 2 */
.fm_2 {
    background-color: #0079c7;
}

.fm_2 h1 {
    font-weight: 100;
}

.fm_2 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

/* #footer menu 3 */
.fm_3 {
    background-color: #2b4c99;
}

.fm_3 h1 {
    font-weight: 100;
}

.fm_3 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #fff;
}

footer .widget_title_text {
    color: #fff;
    font-size: 25px;
}

.footer_copyright {
    border-top: 1px solid #2c2c2c;
    line-height: 80px;
    font-size: 12px;
    color: #FFFFFF;
}

/* #widget_text */
footer .widget_text {
    color: #5f5f5f;
    font-size: 12px;
    margin-right: 50px;
}

footer .widget_locations {
    margin-top: 20px;
    margin-top: 20px;
    padding: 5px;
    color: #5f5f5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

footer .posts {
    margin-right: 5px;
    padding: 5px;
}

footer .post_resume {
    margin: 5px 0;
    font-size: 12px;
    color: #5f5f5f;
}

footer .post_date {
    margin: 5px 0;
    font-size: 12px;
    color: #36a9e1;
}

/* #endregion */